@charset "UTF-8";
/* Heart */
.heart__icon--backg {
  opacity: 0;
  transition: opacity 250ms ease-out;
}
.heart__icon--backg:hover {
  opacity: 1;
}

/* Dish choice */
.meal__dish > p {
  transition: transform 500ms;
}
.meal__dish > :last-child {
  transition: all 500ms;
}
.meal__dish > :last-child i {
  transform: rotate(180deg);
  transition: transform 500ms 0.1s;
}
.meal__dish:hover i {
  transform: rotate(0deg);
}
.meal__dish:hover > :last-child {
  width: 6rem;
}

/* Loader */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-duration {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    background-color: transparent;
    opacity: 0;
    z-index: -1;
  }
}
/* Menu animation*/
@keyframes anim-dish {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.meal__dish:nth-child(2) {
  animation: anim-dish 2s;
}

.meal__dish:nth-child(3) {
  animation: anim-dish 3s;
}

.meal__dish:nth-child(4) {
  animation: anim-dish 4s;
}

.meal__dish:nth-child(5) {
  animation: anim-dish 5s;
}

@media only screen and (min-width: 768px) {
  /*home page*/
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants__card {
    width: 45%;
  }

  /* Restaurants pages */
  .resto-main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .resto-name {
    width: 100%;
  }

  .meal {
    width: 30%;
  }
}
@media only screen and (min-width: 992px) {
  /*home page*/
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants__card {
    width: 22%;
  }
}
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto;
}

footer {
  font-size: 1.5rem;
}

h1 {
  font-family: Shrikhand;
  font-size: 2.7rem;
  color: #000;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.localisation span {
  font-size: 1.7rem;
  color: #424242;
}

.localisation input {
  font-size: 1.3rem;
  color: #424242;
  font-weight: bold;
}

.explr-restaurants p {
  font-size: 1.6rem;
  color: #686868;
}

.btn-gradian {
  font-size: 1.4rem;
  color: #fff;
}

.functioning__btn, .restaurants__card__img__new {
  font-size: 1.5rem;
  font-weight: bold;
}

.restaurants__card__description p {
  font-size: 1.8rem;
}

.footer h3 {
  font-family: Shrikhand;
  font-size: 2rem;
}

.resto-name h2 {
  font-family: Shrikhand;
}

.meal h3 {
  font-weight: 100;
  text-transform: uppercase;
}

.meal__dish__info > p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* page home - btn "explorer nos restauants"*/
.center__btn-gradian {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.center__btn-gradian :first-child {
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
  width: 15rem;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 3rem;
  color: #fff;
  border: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
}
.center__btn-gradian :first-child:hover {
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, #a16be0, #ff93e1);
  cursor: pointer;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.heart__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.heart__icon--border {
  color: #686868;
}
.heart__icon--backg {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}

/* Loader */
.loader {
  animation: loader-duration 3s both;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.loader div {
  border-radius: 100%;
  position: absolute;
  border: 0.4rem solid #9356DC;
  border-bottom: none;
  border-right: none;
  margin-left: -70px;
  margin-top: -70px;
}
.loader .loader__arc--1 {
  width: 14rem;
  height: 14rem;
  left: 51.05%;
  top: 52.1%;
  animation: rotate 1s linear infinite;
  animation-delay: 0.6s;
}
.loader .loader__arc--2 {
  width: 12rem;
  height: 12rem;
  left: 51.4%;
  top: 52.8%;
  animation: rotate 1s linear infinite;
  animation-delay: 0.8s;
}
.loader .loader__arc--3 {
  width: 10rem;
  height: 10rem;
  left: 51.75%;
  top: 53.5%;
  animation: rotate 1s linear infinite;
  animation-delay: 1s;
}
.loader .loader__arc--4 {
  width: 8rem;
  height: 8rem;
  left: 52.1%;
  top: 54.2%;
  animation: rotate 1s linear infinite;
  animation-delay: 1.2s;
}
.loader .loader__arc--5 {
  width: 6rem;
  height: 6rem;
  left: 52.45%;
  top: 54.9%;
  animation: rotate 1s linear infinite;
  animation-delay: 1.4s;
}
.loader .loader__arc--6 {
  width: 4rem;
  height: 4rem;
  left: 52.8%;
  top: 55.6%;
  animation: rotate 1s linear infinite;
  animation-delay: 1.6s;
}

.header {
  height: 60px;
  padding: 12px;
  position: relative;
}
.header h1 {
  margin: auto;
  text-align: center;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 1.5rem 0rem 0.51rem 1.5rem;
}
.footer__list {
  list-style: none;
  padding: 0%;
}
.footer__list li {
  margin-bottom: 0.5rem;
}
.footer__list a {
  color: #fff;
}
.footer__list li:nth-child(1)::before {
  font-family: "FontAwesome";
  content: "\f2e7";
  margin-right: 1rem;
}
.footer__list li:nth-child(2)::before {
  font-family: "FontAwesome";
  content: "\f4c4";
  margin-right: 1rem;
}

/* localisatio,*/
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background-color: #efefef;
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.171);
}
.localisation p {
  margin: auto;
}
.localisation span {
  display: flex;
  align-items: center;
}
.localisation input {
  border: none;
  background: #efefef;
}
.localisation span::before {
  font-family: "FontAwesome";
  content: "\f3c5";
  margin-right: 1rem;
  display: block;
}

/* localisation */
.explr-restaurants {
  padding: 3.5rem 2rem 3.5rem 2rem;
  background-color: #f4f4f4;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explr-restaurants p, .explr-restaurants h2 {
  padding: 0;
  margin-bottom: 0;
}

/* fonctioning */
.functioning {
  margin-bottom: 4rem;
}
.functioning h2 {
  margin-left: 2rem;
}
.functioning__btn {
  margin: 0 2rem 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.functioning__btn__container {
  border-radius: 20px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  position: relative;
  z-index: auto;
  width: 35rem;
}
.functioning__btn__container :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  left: -1.4rem;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1.2rem;
  position: absolute;
  z-index: 1;
}
.functioning__btn__container i {
  color: #686868;
  padding: 3rem;
}
.functioning__btn__container:hover {
  background-color: #9256dc25;
}

/* restaurants */
.restaurants {
  background-color: #f4f4f4;
  padding: 1rem 1rem 2rem 1rem;
}
.restaurants__card {
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.restaurants__card__resto--1 {
  background-image: url(../pictures/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.webp);
  background-size: cover;
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-bottom: 1rem;
  position: relative;
}
.restaurants__card__resto--1 :first-child {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  background-color: #99e2d0;
  padding: 0.7rem 1rem 0.7rem 1rem;
  color: #2ba387;
  border-radius: 0.3rem;
}
.restaurants__card__resto--2 {
  background-image: url(../pictures/restaurants/stil-u2Lp8tXIcjw-unsplash.webp);
  background-size: cover;
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-bottom: 1rem;
  position: relative;
}
.restaurants__card__resto--2 :first-child {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  background-color: #99e2d0;
  padding: 0.7rem 1rem 0.7rem 1rem;
  color: #2ba387;
  border-radius: 0.3rem;
}
.restaurants__card__resto--3 {
  background-image: url(../pictures/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.webp);
  background-size: cover;
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-bottom: 1rem;
  position: relative;
}
.restaurants__card__resto--3 :first-child {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  background-color: #99e2d0;
  padding: 0.7rem 1rem 0.7rem 1rem;
  color: #2ba387;
  border-radius: 0.3rem;
}
.restaurants__card__resto--4 {
  background-image: url(../pictures/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.webp);
  background-size: cover;
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-bottom: 1rem;
  position: relative;
}
.restaurants__card__resto--4 :first-child {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  background-color: #99e2d0;
  padding: 0.7rem 1rem 0.7rem 1rem;
  color: #2ba387;
  border-radius: 0.3rem;
}
.restaurants__card__description {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}
.restaurants__card__description h3, .restaurants__card__description p {
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.header a:first-child {
  /* Fléche de retour au menu principal */
  position: absolute;
  left: 4rem;
  top: 35%;
}

.restaurant__cadr__img-mind {
  /* Image du restaurant */
  background-size: cover;
  width: 100%;
  height: 25rem;
  margin-bottom: 1rem;
  z-index: -1;
}

.resto-main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  padding: 0 2rem 2rem 2rem;
  z-index: 1;
}

.resto-name {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.meal > :first-child {
  /* tire h3 Entrées, plats, desserts */
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  position: relative;
}
.meal > :first-child::after {
  /* Souligement du titre dito */
  content: "";
  width: 4rem;
  height: 0.4rem;
  background-color: #FF79DA;
  position: absolute;
  left: 0;
  bottom: 0;
}
.meal__dish {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 2rem;
  overflow: hidden;
}
.meal__dish__info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  flex: 1;
  overflow: hidden;
  padding: 0.5rem 0 1rem 1rem;
}
.meal__dish__info > :first-child {
  /* Description des plats */
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
.meal__dish__info > :first-child > h4 {
  margin: 0;
  padding-bottom: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.meal__dish__info > :first-child > p {
  margin: 0;
  padding-bottom: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.meal__dish__info > p {
  /* Prix des plats */
  padding: 0 1rem 0.5rem 0;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.meal__dish > :last-child {
  /* Icone check */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #fff;
  width: 0rem;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
