
/* page home - btn "explorer nos restauants"*/

.btn-gradian{
    @include box-shadow;
    width: 100%;
    padding: 15px;
    border-radius: 3rem;
    color: $color-withe;
    border: none;
    background: $color-gradian;

    &:hover{
        @include box-shadow;
        background: $color-gradain-light;
        cursor: pointer;
    }
}





