/* Loader */
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes loader-duration{
     0%{
       
        opacity:1;
    }
    60%{
       
        opacity: 1;
    }
    100%{
        background-color: transparent;
        opacity: 0;
        z-index:-1;
    }
}

/* Menu animation*/
@keyframes anim-dish{
    0%{
       transform:translateY(20px);
       opacity: 0;
    }
    100%{
       transform:translateY(0);
       opacity: 1;
    }
}

@for $t from 2 through 5{
    .meal__dish:nth-child(#{$t}) {
        animation: anim-dish #{$t}s;
    }
}
