/* Loader */
.container{
    animation: loader-duration 3s both;
    
    @include center__h-v;

    z-index: 10000;
    position: fixed;
    height: 100%;
    width: 100%;


    &__loader{
        height: 10rem;
        width: 10rem;
        border-radius: 10rem;
        border: 1rem solid $color-primary;
        position: relative;
    }

    &__loader:after{
        content: '';
        position: absolute;
        top: -1rem; left: -1rem;
        bottom: -1rem;
        right: -1rem,;
        border-radius: 10rem;
        border: 1rem solid transparent;
        border-top-color: $color-secondary;
       
        animation: spin 1s linear infinite;  
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader-duration{
    0%{
       background-color: white;
        opacity: 1;
    }

    100%{
        background-color: transparent;
        opacity: 0;
    }
}






/* Menu animation*/

@keyframes anim-dish{
    0%{
       transform:translateY(-20px);
       opacity: 0;
    }

    100%{
       transform:translateY(0);
       opacity: 1;
    }
}

.meal__dish:nth-child(2) {
    animation-delay: calc(2s / 5);
}

.meal__dish:nth-child(3) {
    animation-delay: calc(3s / 5);
}

.meal__dish:nth-child(4) {
    animation-delay: calc(4s / 5);
}