/* Heart */
.heart{
     &__icon{
         &--backg{
             opacity: 0;
             transition: opacity 250ms ease-out;
            
             &:hover{
                opacity: 1;
            }
        }
    }
}

/* Dish choice */
.meal__dish{
   & > p {
        transition: transform 500ms;
    }

    & > :last-child{
        transition: all 500ms;

        & i {
            transform: rotate(180deg);
            transition: transform 500ms 0.1s;
        }
    }      

    &:hover i{
        transform: rotate(0deg);
    }

    &:hover > :last-child {
        width: 6rem;
    }
}